.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.lintr
scratch/*
.vscode/*
docs/*
data/*
figs/*
gis/*
simulations/*
c1_writing/*
.vscode/*
vasco.sh
R/old
R/gao_optimizer.R
R/scratch.R
R/scratch.cpp
jaguar_movement.md
jaguar_paper.md